<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
        <!-- Display the error message if it's not empty -->
        {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    <!-- Debugging: Display user credentials (remove in production) -->
    <form action="/" method="post">
        <div>
            <label for="id">ID:</label>
            <input type="text" name="id" id="id">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
    </form>
    <p>Don't have an account? <a href="/register">Register here</a></p>
</body>
</html>
