<!DOCTYPE html>
<html>
<head>
    <title>User Page</title>
</head>
<body>
    <h1>User Page</h1>
    <div>
        <h2>Welcome, {{ username }}</h2>
        <img src="{{ image_url }}" alt="User Image"  width="120" height="120">
    </div>
    <div>
        <form method="POST" action="/change_password">
            <label for="old_password">Old Password:</label>
            <input type="password" id="old_password" name="old_password" required><br>

            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required><br>

            <input type="submit" value="Change">
        </form>
        <p>{{ message }}</p>
    </div>
    <div>
        <a href="/forum">Back to Forum</a>
    </div>

    <!-- Display user's posts like in the forum page -->
    <div class="message-display-area">
        <h2>User's Posts:</h2>
        <ul>
            {% for message in user_posts %}
            <div>
                <h3>{{ message.username }}</h3>
                <img src="{{ forum_images.get(message.timestamp) }}" alt="User Image" style="max-width: 120px; max-height: 120px;">
                <p>Subject: {{ message.subject }}</p>
                <p>{{ message.user_message }}</p>
                
                <form method="GET" action="/edit_message/{{ message.key.id }}">
                    <button type="submit">Edit Message</button>
                </form>
            </div>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
