<!DOCTYPE html>
<html>
<head>
    <title>Forum</title>
</head>
<body>
    <h1>Forum</h1>
    <div class="user-area">
        <h3>User: <a href="{{ url_for('user', username=session['username']) }}">{{ session['username'] }}</a></h3>
        <a href="/logout">Logout</a>
    </div>
    <div class="message-posting-area">
        <form method="POST" action="/forum" enctype="multipart/form-data">
            <div>
                <label for="subject">Subject:</label>
                <input type="text" name="subject" id="subject" required>
            </div>
            <div>
                <label for="message">Message Text:</label>
                <textarea name="message" id="message" rows="3" cols="60" required></textarea>
            </div>
            <div>
                <label for="image">Image:</label>
                <input type="file" name="image" id="image">
            </div>
            <div>
                <!-- Use the new user_id field for message submission -->
                <input type="hidden" name="user_id" value="{{ id }}">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <div class="message-display-area">
        <h2>Last 10 messages:</h2>
        <ul>
            {% for message in messages %}
            <div>
                <h3>{{ message.username }}</h3>
                <p>Subject: {{ message.subject }}</p>
                <p>{{ message.message }}</p>
                
                {% if message.image_url %}
                <!-- Display the attached image if it exists -->
                <img src="{{ message.image_url }}" alt="Attached Image" width="150">

                {% endif %}
            </div>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
